
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 20rem;
    width: 15rem;
    background-color: rgb(245, 245, 245);
    margin: 1rem;
    padding: 0.5rem;
    
   
}



.card__img {
    height: 10rem;
    width: 8rem;
    align-items: center;
    
}

h5 {
    font-size: 2rem;
    color: black;
}