
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 25rem;
    width: 15rem;
    background-color: rgb(245, 245, 245);
    margin: 1rem;
    padding: 0.5rem;
    
   
}



.card__img {
    height: 10rem;
    width: 8rem;
    align-items: center;
    
}

h5 {
    font-size: 2rem;
    color: black;
}

.card__btn{
    background-color: yellow;
    color: rgb(34, 36, 53);
    border-radius: 5px;
    border: none;
    padding: .3rem 2rem;
    font-size: large;
    font-weight: bolder;
}